.error {
    color: rgb(251, 255, 0);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
.blog {
  border-style: solid;
  color:rgb(208, 132, 33);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

